@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.carousel-inner {
  width: 100%;
  height: 60%;
}

.carousel-item img {
  width: 100%;
  height: 60%;
  object-fit: fill;
  margin: 0%;
  padding: 20px;
}
.letter1 {
  color: #c2defa;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #9312b3, 0 0 40px #9312b3,
    0 0 50px #9312b373, 0 0 60px #9312b3, 0 0 70px #9312b3;
  font-family: 'Roboto', sans-serif;
}
