@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  background-color: rgb(17, 156, 166);
  font-family: "Roboto", sans-serif;
  display: flex;
}

.container {
  background-color: rgb(17, 156, 166);
  justify-content: center;
  align-items: center;
}

.card {
  background-color: rgb(17, 156, 166);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border: none;
}

.card-img-top {
  width: 25%;
  border-radius: 5px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #9312b3, 0 0 40px #9312b3,
    0 0 50px #9312b373, 0 0 60px #9312b3, 0 0 70px #9312b3;
  font-style: italic;
}

.card-text {
  margin-bottom: 0.5rem;
  text-align: start;
  font-size: .75em;
}

.boton1 {
  background-color: rgb(17, 156, 166);
  margin-bottom: 1em;
  align-items: center;
  justify-content: center;
}

.link {
  background-color: rgb(17, 156, 166);
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
}